.t_ul {
    /* padding: 2%; */
    text-align: center;
    line-height: 6vh;
    position: absolute;
    left: 55%;
    top: 40px;
    z-index: 9999;
    overflow: hidden;
    list-style: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    width: 150px;
    display: none;}
li a {
    text-decoration: none;
}
    .submenu:hover .t_ul {
        display: block;    transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;    
        transition: all 3s;
    }