* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding-left: 8%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

header img {
    padding-top: 2%;
    width: 10rem;
}

header ul {
    display: flex;
    gap: 2rem;
    position: relative;
    top: 42px;
    left: 31rem;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    display: block;
    letter-spacing: 1px;
}

header ul li a:hover {
    color: #fb5849;
}

.left-content img {
    background: url(./assets/images/top-left-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 40px;
    width: 35%;
    height: 100vh;
}

.left-content {
    display: flex;
}

.left-content .inner-content {
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    left: 17%;
    color: #fff;
}

.left-content h4 {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 54px;
    font-weight: 700;
}

.left-content h6 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    margin-top: 5px;
}

.left-content .left-button {
    margin-top: 25px;
    margin-bottom: 10px;
    /* margin-left: 30px; */
}

.left-content .left-button a {
    display: inline-block;
    color: #fb5849;
    background-color: #fff;
    padding: 8%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

swiper-container {
    width: 64vw;
    height: 100%;
    --swiper-pagination-display: none;
}

swiper-slide {
    justify-content: center;
    align-items: center;
}

.image_slider img {
    width: 64vw;
    height: 106vh;
}

.about_content {
    margin-top: 200px;
    padding-left: 8%;
    display: flex;
    gap: 5rem;
}

.thumb img {
    height: 72vh;
    width: 37vw;
}

.about_content i {
    position: absolute;
    left: 75%;
    top: 190%;
    width: 70px;
    z-index: 1000;
    height: 70px;
    display: inline-block;
    cursor: pointer;
    line-height: 70px;
    text-align: center;
    background-color: #fb5849;
    color: #fff;
    border-radius: 50%;
    transform: translate(-45px, -35px);
    transition: all ease-in-out 3s;
}

.about_content i:hover {
    opacity: 2%;
}

section .about_content .pg_bar {
    /* color: #fb5849; */
    height: 0.01rem;
    background-color: #fb5849;
    width: 2.3vw;
    position: relative;
    top: 9px;
}

.about_content h2 {
    color: #fb5849;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 17px;
    margin-left: 40px;
}

.about_content h1 {
    font-size: 32px;
    line-height: 2vw;
    font-weight: bolder;
    width: 300px;
    color: #343a40;
    margin-bottom: 40px;
}

.about_content p {
    width: 36vw;
    color: #6c757d;
    margin-bottom: 30px;
}

.about_content p a {
    text-decoration: none;
    color: #007bff;
    font-weight: 600;
}

.about_content .about_img {
    display: flex;
    gap: 1rem;
}

.menu {
    margin-top: 120px;
    background-color: #fffafa;
    /* padding: 120px 0px; */
    height: 130vh;
}

.menu_content {
    padding-top: 7rem;
    margin-top: 200px;
    padding-left: 8%;
}

section .menu_content .pg_bar {
    /* color: #fb5849; */
    height: 0.01rem;
    background-color: #fb5849;
    width: 2.3vw;
    position: relative;
    top: 9px;
}

.menu_content h1 {
    font-size: 32px;
    line-height: 2vw;
    font-weight: bolder;
    width: 300px;
    color: #343a40;
    margin-bottom: 40px;
}

.menu_content h2 {
    color: #fb5849;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 17px;
    margin-left: 40px;
}

.card {
    background-image: url(./assets/images/menu-item-01.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    /* border-radius: 30px; */
}

.card_price {
    background-color: #fb5849;
    width: 5rem;
    padding: 18%;
    height: 1rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    position: relative;
}

.card_price2 {
    background-color: #fb5849;
    width: 5rem;
    padding: 18%;
    right: 1%;
    /* height: 15vh; */
    height: 1rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    position: relative;
}

.card #showup {
    height: 6vh;
    position: relative;
    background-color: #fb5849;
    width: 20.8vw;
    top: 280px;
    border-radius: 5px;
    display: block;
}

.card:hover {
    #showup {
        display: none;
        /* transition: all ease-out 5s; */
    }

    .info {
        position: relative;
        display: block;
        width: 20.8vw;
        height: fit-content;
        top: -25px;
        transform: translateY(200px) translateZ(100px);
    }
}

.info {
    position: relative;
    display: none;
    width: 20.7vw;
    height: fit-content;
    background-color: #fb5849;
    border: 1px solid #fb5849;
    transform: translateY(100%) translateY(120px) translateZ(0);
    transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
    transform: translateY(200px) translateZ(100px);
}

.title {
    margin: 0;
    padding: 30px 30px 20px 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.description {
    padding: 0px 30px;
    color: #fff;
}

.chef_txt {
    text-align: center;
    margin-top: 5%;
}

.chef_txt h6 {
    position: relative;
    font-size: 15px;
    color: #fb5849;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 40px;
}

.chef_txt h2 {
    line-height: 40px;
    margin-top: 20px;
    margin-left: 39%;
    width: 350px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 900;
    color: #2a2a2a;
}

.cheff {
    display: flex;
    gap: 2rem;
    padding-left: 6%;
    margin-top: 80px;
}

.chef_details {
    border: 1px solid #8b9197;
    width: fit-content;
    padding: 7px;
    text-align: center;
}

.chef_details h2 {
    transition: all .3s;
    font-size: 25px;
    font-weight: 700;
    color: #2a2a2a;
}

.chef_details:hover {
    color: #fb5849;
    border: 1px solid #fb5849;
}

.chef_details:hover .overlay {
    visibility: visible;
}

.chef_details h5 {
    color: #343a40;
    font-size: 16px;
    margin-top: 4px;
}

.chef_details1:hover {
    z-index: 9999;
    /* background-color: black; */
    opacity: 0.7;
    /* background-color: #000; */
}

.overlay {
    position: absolute;
    height: 58vh;
    background-color: #000;
    width: 26.4vw;
    left: 6.66%;
    opacity: 0.8;
    filter: invert(3%);
    /* display: none; */
    z-index: 1000;
    top: 438%;
}

.overlay2 {
    position: absolute;
    height: 58vh;
    background-color: #000;
    width: 26.4vw;
    left: 36.76%;
    opacity: 0.8;
    filter: invert(3%);
    /* display: none; */
    z-index: 1000;
    top: 438%;
}

.overlay3 {
    position: absolute;
    height: 58vh;
    background-color: #000;
    width: 26.4vw;
    left: 66.96%;
    opacity: 0.8;
    filter: invert(3%);
    /* display: none; */
    z-index: 1000;
    top: 438%;
}

ul {
    list-style: none;
}

.social-icons {
    position: absolute;
    left: 35%;
    top: 40%;
    display: flex;
    gap: 2.2rem;
}

.social-icons li a {
    text-decoration: none;
}

.social-icons i {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    padding: 100%;
}

.social-icons2 {
    position: absolute;
    left: 35%;
    top: 40%;
    display: flex;
    gap: 2.2rem;
}

.social-icons2 li a {
    text-decoration: none;
}

.social-icons2 i {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    padding: 100%;
}

.social-icons3 {
    position: absolute;
    left: 35%;
    top: 40%;
    display: flex;
    gap: 2.2rem;
}

.social-icons3 li a {
    text-decoration: none;
}

.social-icons3 i {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    padding: 100%;
}

.reservations {
    display: flex;
    height: 120vh;
    gap: 2rem;
    margin-top: 150px;
    background: url(./assets/images/reservation-bg.jpg);
}

.txt {
    top: 180px;
    position: relative;
    padding-left: 7%;
    /* display: flex; */
}

.txt h2 {
    top: -15px;
    margin-left: 40px;
    color: #fff;
    position: relative;
}

.txt p {
    color: #fff;
    width: 35vw;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 900;
}

.txt h6 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 25px;
    width: 38vw;
}

.txt .phone {
    background-color: #fff;
    /* padding: 5%; */
    /* padding-top: 31%; */
    padding: 50px 0px 30px 0px;
    border-radius: 10px;
    text-align: center;
    width: 18vw;
}

.phone i {
    background-color: #fb5849;
    border-radius: 50%;
    top: -15px;
    z-index: 1000;
    padding: 3%;
    color: white;
    position: relative;
}

.phone h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.phone a {
    text-decoration: none;
    color: #6c757d;

}

form {
    position: relative;
    top: 30px;
    margin-left: 30px;
    padding: 45px 30px;
    height: 100vh;
    background-color: #fff;
    border-radius: 5px;
}

.tr h4 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #2a2a2a;
    margin-bottom: 30px;
}

form input,
form textarea,
form select {
    color: #2a2a2a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 15px;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: #fb5849;
}

form button {
    margin-top: -10px;
    font-size: 13px;
    color: #fff;
    background-color: #fb5849;
    padding: 12px 25px;
    width: 100%;
    box-shadow: none;
    border: none;
    display: inline-block;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s;
}

form button:hover {
    opacity: .9;
}

form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
}

form ::-webkit-input-placeholder {
    color: #2a2a2a;
}

form :-ms-input-placeholder {
    color: #2a2a2a;
}

form ::placeholder {
    color: #2a2a2a;
}

.section-heading {
    text-align: center;
}

.section-heading h6 {
    position: relative;
    font-size: 15px;
    color: #fb5849;
    margin-top: 150px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 40px;
}

.section-heading h2 {
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    /* width: 100px; */
    font-size: 30px;
    font-weight: 900;
    color: #2a2a2a;
}

.special_offers {
    margin-top: 90px;
    gap: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.special_offers span {
    color: #fb5849;
}

.menus {
    display: flex;
    padding-left: 7%;
    padding-right: 8%;
margin-bottom: 0;
}

.first_menu {
    flex-direction: row;
    margin-top: 60px;
}

.second_menu {
    flex-direction: row;
    left: 28%;
    margin-top: 60px;
    position: relative;
}

.menu_img {
    margin-bottom: 40px;
}

.menu_img img {
    border-radius: 10px;
}

.menu_txt {
    margin-top: 75px;
    position: relative;
    top: -33vw;
    margin-left: 40%;
}

.menu_txt h4 {
    font-size: 24px;
    width: 250px;
    font-weight: 900;
    margin-bottom: 5%;
}

.menu_txt p {
    width: 280px;
    color: #343a40;
    font-weight: 500;
}

.menu_txt1 {
    margin-top: 75px;
    position: relative;
    top: -33.5vw;
    margin-left: 40%;
}

.menu_txt1 h4 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 5%;
}

.menu_txt1 p {
    width: 280px;
    color: #343a40;
    font-weight: 500;
}

.menu_txt2 {
    position: relative;
    top: -28vw;
    margin-left: 40%;
}
.menu_txt2 h4{
    font-size: 25px;
    font-weight: 900;
    width: 300px;
    position: relative;
    margin-bottom: 5%;
}
.menu_txt2 p{
    width: 280px;
    position: relative;
    color: #343a40;
    font-weight: 500;
}
.price{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #fb5849;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    top: 10px;
    left: 25vw;
    border-radius: 3px;
    text-align: center;
    line-height: 70px;
  
}
/*                                   */
/*                                   */
/*                                   */
/*                                   */
.media_icons{
    justify-content: space-between;
    padding: 5%;
    display: flex;
}
ul .social-icons {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 105vw;
    transform: translate(-50%, -50%);
    transition: all 5s;
    opacity: 0;
    align-items: center;
  }
  ul .social-icons li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #2a2a2a;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: all .5s;
  }
.social-icons li:hover {
    background-color: #fb5849;
  }
  footer{
    /* top: -102px; */
    position: relative;
    background-color: #fb5849;
  }
  .footer_txt{
    color: #fff;
  }





/*                               */
/*                                                   */
/*                                   */
.element {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-color: #fb5849;
    animation-name: stretch;
    animation-duration: 0.5s; 
    animation-timing-function: ease-in; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    border-radius: 200%;
    z-index: 1000;
  }
  
  @keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: #fb5849;
      border-radius: 100%;
    }
    50% {
      background-color: #fb5849;
    }
    100% {
      transform: scale(1.5);
      background-color: #fb5849;
    }
  }
  


